<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid">
  <h1 class="display-1">Destacatours</h1>
  <nav>
    <a class="btn btn-primary" [routerLink]="['/conductores']" [routerLinkActive]="['active']">Conductores</a>
    <a class="btn btn-primary" [routerLink]="['/terminales']" [routerLinkActive]="['active']">Terminales</a>
    <a class="btn btn-primary" [routerLink]="['/buses']" [routerLinkActive]="['active']">Buses</a>
  </nav>
</div>
<hr>

<router-outlet></router-outlet>
